<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:cofipa="http://cofipa.pc.com"
	xmlns:data="http://www.thymeleaf.org/extras/data">
	
<head>
	<title>Pesquisa das Seções</title>
</head>

<body>
<section layout:fragment="conteudo">
	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1>Pesquisa das Seções</h1>
				</div>
				
				<div class="col-xs-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{/secoes/nova}">
							<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Nova Seção</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<form method="GET" th:object="${secaoFilter}">
			<div class="row">
			     <div class="form-group  col-sm-6" >
					<label class="control-label" for="nome">Nome</label>
					<input type="text" class="form-control" id="nome" th:field="*{nome}"/>
				</div>
			
				<div class="form-group  col-sm-6">
					<label class="control-label" for="divisao">Divisão</label>
					<select id="divisao" class="form-control" th:field="*{divisao}">
	                    <option value="">Todas as Divisões</option>
	                    <option th:each="divisao : ${divisoes}" th:text="${divisao.nome}" th:value="${divisao.codigo}"></option>
	                </select>
				</div>
			</div>
				
			
			<button type="submit" class="btn  btn-primary">Pesquisar</button>
		</form>
		
		<div class="table-responsive  bw-tabela-simples">
			<table class="table  table-hover">
				<thead>
					<tr>
						
						
						<th class="table-secao-col-nome">
						<cofipa:order page="${pagina}" field="nome" text="Nome"/>
						</th>
						
						<th class="table-divisao-col-nome">
						<cofipa:order page="${pagina}" field="divisao" text="Divisao"/>
						</th>
						
					</tr>
				</thead>
				
				<tbody>
					<tr th:each="secao : ${pagina.conteudo}">
					
						
						<td th:text="${secao.nome}">Divisao</td>
						  <td th:text="${secao.divisao.nome}"></td> 
						<td class="text-center">
							<a class="btn  btn-link  btn-xs js-tooltip" title="Editar"
							th:href=" @{/secoes/{codigo}(codigo=${secao.codigo})}"> 
								<i class="glyphicon glyphicon-pencil"></i>
							</a>
							<a class="btn  btn-link  btn-xs js-tooltip js-exclusao-btn" title="Excluir" href="#"
							     data:url="@{/secoes/{codigo}(codigo=${secao.codigo})}"
							     data:objeto="${secao.nome}">
								<i class="glyphicon glyphicon-remove"></i>
							</a>
						</td>
					  <tr>
					    <tr th:if="${pagina.vazia}">
					      <td colspan="6">Nenhuma divisao encontrada</td>
						</tr> 
				</tbody>
			</table>
		</div>
		
		<cofipa:pagination page="${pagina}"/>
	</div>

</section>
</body>
</html>