<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:cofipa="http://cofipa.pc.com"
	xmlns:data="http://www.thymeleaf.org/extras/data">
	
<head>
	<title>Pesquisa de Itens Materiais Informática</title>
</head>

<body>
<section layout:fragment="conteudo">
	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1>Pesquisa de Itens materiais informática</h1>
				</div>
				
				<div class="col-xs-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{/itensMateriaisInformatica/novo}">
							<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Novo Item</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<form method="GET" th:object="${itemMaterialInformaticaFilter}">
			<div class="row">
				<div class="form-group  col-sm-12">
					<label class="control-label" for="nome">Item Material</label>
					<input type="text" class="form-control" id="itemMaterialInformatica" autofocus="autofocus" th:field="*{descricao}"/>
				</div>
			</div>
			
			<button type="submit" class="btn  btn-primary">Pesquisar</button>
		</form>
		
		<div class="table-responsive  bw-tabela-simples">
			<table class="table  table-hover">
				<thead>
					<tr>
						  
						<th>
							<cofipa:order page="${pagina}" field="descricao" text="Descricao"/>
						</th>
						<th class="table-col-acoes"></th>
					</tr>
				</thead>
				
				<tbody>
					<tr th:each="itemMaterialInformatica : ${pagina.conteudo}">
						<td th:text="${itemMaterialInformatica.descricao}">Descrição</td>
						
						<td class="text-center">
							<a class="btn  btn-link  btn-xs js-tooltip" title="Editar" 
							th:href=" @{/itensMateriaisInformatica/{codigo}(codigo=${itemMaterialInformatica.codigo})}"> 
								<i class="glyphicon glyphicon-pencil"></i>
							</a>
							<a class="btn  btn-link  btn-xs js-tooltip js-exclusao-btn" title="Excluir" href="#" 
							     data:url="@{/itensMateriaisInformatica/{codigo}(codigo=${itemMaterialInformatica.codigo})}"
							     data:objeto="${itemMaterialInformatica.descricao}">
								<i class="glyphicon glyphicon-remove"></i>
							</a>
						</td>
					</tr>
					<tr th:if="${pagina.vazia}">
						<td colspan="3">Nenhum Item encontrado</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<cofipa:pagination page="${pagina}"/>
		
	</div>

</section>
</body>
</html>