<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:cofipa="http://cofipa.pc.com"
	xmlns:data="http://www.thymeleaf.org/extras/data">
	
<head>
	<title>Pesquisa Patrimonios mobiliarios</title>
</head>

<body>
<section layout:fragment="conteudo">
	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1>Pesquisa de Patrimônios mobiliarios</h1>
				</div>
				
				<div class="col-xs-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{/patrimonioMobiliario/novo}">
							<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Novo Patrimonio</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<form method="GET" th:object="${patrimonioMobiliarioFilter}">
			<div class="row">
				<div class="form-group  col-sm-2">
					<label class="control-label" for="numero">Nº Patrimônio</label>
					<input type="text" class="form-control" id="numero" autofocus="autofocus" th:field="*{numero}"/>
				</div>
			
				<div class="form-group  col-sm-4">
					<label class="control-label" for="uge">Uge</label>
					<select id="uge" class="form-control" th:field="*{uge}">
	                    <option value="">Todas as uges</option>
	                    <option th:each="uge : ${uges}" th:text="${uge.nome}" th:value="${uge.codigo}"></option>
	                </select>
				</div>
			
			<div class="form-group  col-sm-4">
					<label class="control-label" for="serial">Serial</label>
					<input type="text" class="form-control" id="serial" th:field="*{serial}"/>
				</div>
				</div>
				
				<div class="row">
				<div class="form-group  col-sm-4">
					<label class="control-label" for="departamento">Departamento</label>
					<select id="departamento" class="form-control" th:field="*{departamento}">
	                    <option value="">Todos os departamentos</option>
	                    <option th:each="departamento : ${departamentos}" th:text="${departamento.nome}" th:value="${departamento.codigo}"></option>
	                </select>
				</div>
			
				<div class="form-group  col-sm-4">
					<label class="control-label" for="divisao">Divisão</label>
					<select id="divisao" class="form-control" th:field="*{divisao}">
	                    <option value="">Todas as divisões</option>
	                    <option th:each="divisao : ${divisoes}" th:text="${divisao.nome}" th:value="${divisao.codigo}"></option>
	                </select>
				</div>
			
			<div class="form-group  col-sm-4">
					<label class="control-label" for="secao">Seções</label>
					<select id="secao" class="form-control" th:field="*{secao}">
	                    <option value="">Todas as seções</option>
	                    <option th:each="secao : ${secoes}" th:text="${secao.nome}" th:value="${secao.codigo}"></option>
	                </select>
				</div>
				</div>
				
				<div class="row">
				<div class="form-group  col-sm-4">
					<label class="control-label" for="materialMobiliario">Materiais</label>
					<select id="materialMobiliario" class="form-control" th:field="*{materialMobiliario}">
	                    <option value="">Todos os Materiais</option>
	                    <option th:each="materialMobiliario : ${materiaisMobiliario}" th:text="${materialMobiliario.descricao}" th:value="${materialMobiliario.codigo}"></option>
	                </select>
				</div>
			
				<div class="form-group  col-sm-4">
					<label class="control-label" for="tipo">Ativo/Inativo</label>
					<select id="tipo" class="form-control" th:field="*{tipo}">
	                    <option value="">Ativos/Inativos</option>
	                    <option th:each="tipo : ${tipos}" th:text="${tipo.descricao}" th:value="${tipo.codigo}"></option>
	                </select>
				</div>
			   </div>
				
				
			<button type="submit" class="btn  btn-primary">Pesquisar</button>
		</form>
		
		<div class="table-responsive  bw-tabela-simples">
			<table class="table  table-hover">
				<thead>
					<tr>
						<th class="table-patrimoniosMobiliario-col-foto"></th>  
						
						<th class="table-patrimoniosMobiliario-col-numero">
						<cofipa:order page="${pagina}" field="numero" text="Numero"/>
						</th>
						
						<th class="table-patrimoniosMobiliario-col-uge">
						<cofipa:order page="${pagina}" field="uge" text="Uge"/>
						</th>
								
						<th class="table-patrimoniosMobiliario-col-serial">
						<cofipa:order page="${pagina}" field="serial" text="Serial"/>
						</th>
							
						<th class="table-patrimoniosMobiliario-col-departamento">
						<cofipa:order page="${pagina}" field="departamento" text="Departamento"/>
						</th>
						
						<th class="table-patrimoniosMobiliario-col-divisao">
						<cofipa:order page="${pagina}" field="divisao" text="Divisao"/>
						</th>
						
						<th class="table-patrimoniosMobiliario-col-secao">
						<cofipa:order page="${pagina}" field="secao" text="Secao"/>
						</th>	
						
						<th class="table-patrimoniosMobiliario-col-materiais">
						<cofipa:order page="${pagina}" field="materialMobiliario" text="MaterialMobiliario"/>
						</th>
						
						<th class="table-patrimoniosMobiliario-col-tipo">
						<cofipa:order page="${pagina}" field="tipo" text="Ativo/Inativo"/>
						</th>
						
						<th class="table-patrimoniosMobiliario-col-acoes"></th>
					</tr>
				</thead>
				
				<tbody>
					<tr th:each="patrimonioMobiliario : ${pagina.conteudo}"> 
                       <td class="text-center">
							<img th:src="@{/fotos/thumbnail.{foto}(foto=${patrimonioMobiliario.fotoOuMock})}" class="img-responsive"/>
						</td>
						
						
						
						<td th:text="${patrimonioMobiliario.numero}">Nº Patrimônio</td>
						<td th:text="${patrimonioMobiliario.uge.nome}">Uge</td>
						<td th:text="${patrimonioMobiliario.serial}">Serial</td>
					    <td th:text="${patrimonioMobiliario.departamento.nome}">Departamento</td>
						<td th:text="${patrimonioMobiliario.divisao.nome}">Divisão</td>
						<td th:text="${patrimonioMobiliario.secao.nome}">Seção</td>
						<td th:text="${patrimonioMobiliario.materialMobiliario.descricao}">Materiais</td>
						<td th:text="${patrimonioMobiliario.tipo.descricao}">Ativo/Inativo</td> 					
						<td class="text-center">
							<a class="btn  btn-link  btn-xs js-tooltip" title="Editar"
							      th:href="@{/patrimonioMobiliario/{codigo}(codigo=${patrimonioMobiliario.codigo})}"> 
								<i class="glyphicon glyphicon-pencil"></i>
							</a>
							<a class="btn  btn-link  btn-xs js-tooltip js-exclusao-btn" title="Excluir" href="#" 
							          data:url="@{/patrimonioMobiliario/{codigo}(codigo=${patrimonioMobiliario.codigo})}"
							          data:objeto="${patrimonioMobiliario.numero}">
								<i class="glyphicon glyphicon-remove"></i>
							</a>
						</td>
					  <tr>
					    <tr th:if="${pagina.vazia}">
					      <td colspan="6">Nenhum patrimonio encontrado</td>
						</tr>
				</tbody>
			</table>
		</div>
		
		<cofipa:pagination page="${pagina}"/>
	</div>

</section>
</body>
</html>